
    <div id="header-img">
        <div class="row">
            <div class="flex-container">
                <div class="col-md-10">
                    <img class="header-image" [src]="miPortfolio.logo_arg_programa">
                    <span>Argentina Programa - #YoProgramo</span> 
                </div>
                <div class="col-md-2" style="display: flex; align-items: center; justify-content: space-evenly;">
                    <a href="https://www.linkedin.com/"><img [src]="miPortfolio.icono_linkedin" width="30"></a>
                    <a href="https://wa.me/541154975397" class="whatsapp" target="_blank">
                        <i class="fa fa-whatsapp whatsapp-icon"><img [src]="miPortfolio.icono_watshapp" width="40"></i></a>
                    <a class="btn btn-primary btn-sm" (click)="openPopup()">Login</a>
                        <div
                            class="modal"
                            tabindex="-1"
                            role="dialog"
                            [ngStyle]="{'display':displayStyle}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h4 class="modal-title">Login</h4>
                                        </div>
                                        <div class="modal-body">
                                            <app-login></app-login>
                                        </div>
                                        <div class="modal-footer">
                                        </div>
                                    </div>
                                </div>
                        </div>                   
                </div>
            </div>
        </div>        
    </div> 
    <div class="card mat-card" id="first-card"> 
        <div id="profile-background"><img [src]="miPortfolio.imagen_portfolio"> </div>
        <div id="info" style="padding: 10px;"> 
            <div id="info-img">
                <img class="profile-image" [src]="miPortfolio.foto_personal">
                <a href="#" class="btn-right"><span><img src="./assets/pencil.svg"></span></a>       
            </div>
            <div id="info-data">
                <div class="row">          
                    <div class="flex-container">
                        <div class= col-md-10><h2>{{miPortfolio.name}}</h2></div>
                        <div class= col-md-2 style="text-align: right">
                            <a href="https://www.violettacosmeticos.com/"><img [src]="miPortfolio.logo_empresa_actual"  width="100"/></a>
                        </div>    
                    </div>
                    <div class="flex-container">
                        <div id="info-contact"> 
                            <h4>{{miPortfolio.company}}</h4>
                            <span>{{miPortfolio.contact}} </span>
                            <span><a href="#">Información de contacto</a></span>
                        </div>                     
                    </div>                 
                </div>
            </div>
    
            <div id="info-actions">
                <button type="button" class="btn btn-primary">Tengo interés en</button>
                <button type="button" class="btn btn-light">Añadir Sección</button>                
                <button type="button" class="btn btn-light">Más</button>
            </div>
        </div>
    </div> 


