<div class="container-fluid">          
    <div class="wrapper"> 
        <section id="Encabezado"> 
            <p><app-encabezado></app-encabezado></p>
        </section>
        <section id="AcercaDe"> 
            <p><app-acerca-de></app-acerca-de></p>
        </section>        
        <section id="Educacion">    
            <p><app-educacion></app-educacion></p>
        </section>
        <section id="Experiencia">
            <p><app-experiencia></app-experiencia></p>
        </section> 
        <section id="Aptitudes"> 
            <p><app-aptitudes></app-aptitudes></p>
        </section>     
        <section id="Logros">
            <p><app-logros></app-logros></p> 
        </section> 
    </div>
</div>


