
<div class="container-fluid">
<div id="header-img">
    <div class="row">
        <div class="flex-container">
            <div class="col-md-10">
                <img class="header-image" src="icono_argentina_prg.jpg">
                <span>Argentina Programa - #YoProgramo</span> 
            </div>
            <div class="col-md-2" style="display: flex; align-items: center; justify-content: space-evenly;">
                <a href="#"><img src="WhatsApp_icon.png" width="40"></a>
                <a href="#"><img src="linkedin.png" width="30"></a>
                <a href="#"class="btn btn-primary btn-sm">Login</a>
            </div>
        </div>
    </div>        
</div> 
<div class="card mat-card" id="first-card">
    
    <div id="profile-background"><img src="imagen_portfolio.jpg"> </div>
    <div id="info" style="padding: 10px;"> 
        <div id="info-img">
            <img class="profile-image" src="foto_juan.jpg">
            <a href="#" class="btn-right"><span class="glyphicon glyphicon-pencil"></span></a>
        </div>
        <div id="info-data">
            <div class="row">          
                <div class="flex-container">
                    <div class= col-md-10><h2>Juan Ignacio Aragon</h2></div>
                    <div class= col-md-2 style="text-align: right">
                        <a href="#"><img src="violetta.jpg" width="100"></a>
                    </div>    
                </div>
                <div class="flex-container">
                    <div id="info-contact" style="padding: 15px;"> 
                        <h4>Coordinador ABAP en Violetta Cosmeticos</h4>
                        <span>Buenos Aires (Argentina)</span>
                        <span><a href="#">Información de contacto</a></span>
                    </div>
                    
                </div>                 
            </div>
        </div>

        <div id="info-actions">
            <button type="button" class="btn btn-primary">Tengo interés en</button>
            <button type="button" class="btn btn-light">Añadir Sección</button>                
            <button type="button" class="btn btn-light">Más</button>
        </div>
    </div>
</div> 

<div class="card mat-card" id="second-card">
    <div id="info" style="padding: 10px;"> 
        <div id="info-acercade">
            <div class="row">           
                <div class="flex-container">
                    <div class="col-md-11">              
                        <h2>Acerca de</h2>               
                        <h6>Resumen corto de mi....</h6>
                    </div>
                    <div class="col-md-1" style="margin-top: 30px; text-align: right;">
                        <a href="#" class="btn-right"><span class="glyphicon glyphicon-pencil"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<div class="card mat-card" id="third-card">
    <div id="info" style="padding: 10px;"> 
        <div id="info-experience">
            <div class="row">
                <div class="flex-container">
                    <div class="col-md-11">
                        <h2>Experiencia</h2>
                    </div>
                    <div class="col-md-1" style="margin-top: 30px; text-align: right;">
                        <a href="#" class="btn-right"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </div>
            </div>
            
            <div class="row" style="padding: 10px;">
                <div class="flex-container">
                    <div class="col-md-1"> 
                        <img src="icono_sap.jpg" width="50"> 
                    </div>                                             
                    <div class="col-md-10">
                        <h4>Consultor ABAP Sr.</h4>
                        <h6>Coordinador ABAP - Violetta Cosmeticos</h6>
                        <p class="text-secondary">Mar 2020 - actualidad</p>
                        <p class="text-secondary">Buenos Aires, Argentina</p>
                    </div>
                    <div class="col-md-1" style="margin-top: 30px; text-align: right;">
                        <a href="#" class="btn-right"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#" class="btn-right"><span class="glyphicon glyphicon-trash"></span></a>
                    </div> 
                </div>
            </div>                                
        </div>
        <div id="info-education">
            <div class="row">   
                <div class="flex-container">              
                    <div class="col-md-11">
                        <h2>Educación</h2>
                    </div>
                    <div class="col-md-1" style="margin-top: 30px; text-align: right;">
                        <a href="#" class="btn-right"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 10px;">
                <div class="flex-container">
                    <div class="col-md-1"> 
                        <img src="icono_untref.jpg" width="50"> 
                    </div>
                    <div class="col-md-10">                                       
                        <h4>UNTREF</h4>
                        <h6>Analista en Computación</h6>
                        <p class="text-secondary">2008 - 2015</p>
                    </div>
                    <div class="col-md-1" style="margin-top: 30px; text-align: right;">
                        <a href="#" class="btn-right"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#" class="btn-right"><span class="glyphicon glyphicon-trash"></span></a>
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>  

<div class="card mat-card" id="fourth-card">
    <div id="info" style="padding: 10px;"> 
        <div id="info-project">
            <div class="row">
                <div class="flex-container">
                    <div class="col-md-11">
                        <h2>Hard Skills & Soft Skills</h2>
                    </div>
                    <div class="col-md-1" style="margin-top: 30px; text-align: right;">
                        <a href="#" class="btn-right"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </div>
            </div>
            
            <div class="row" style="padding: 10px;">    
                <div class="flex-container">
                    <div class="col-md-11">
                        <p>Resolucion de Problemas</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width: 50%; min-width: 10%;">
                                50%
                            </div>
                            <span class="sr-only">50%</span>
                        </div>                                                          
                    </div>
                    <div class="col-md-1" style="text-align: right">   
                        <a href="#" class="btn-right"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#" class="btn-right"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>                         
                </div>                         
            </div>
            <div class="row" style="padding: 10px;"> 
                <div class="flex-container">
                    <div class="col-md-11">
                        <p>Diseño de sistemas</p>             
                        <div class="progress">               
                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width: 70%; min-width: 10%;">
                                70%
                            </div>
                            <span class="sr-only">70%</span>
                        </div>
                    </div>
                    <div class="col-md-1" style="text-align: right">   
                        <a href="#" class="btn-right"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#" class="btn-right"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </div>                        
        
            </div>                
        </div>
    </div>
</div> 

<div class="card mat-card" id="fifth-card">
    <div id="info" style="padding: 10px;"> 
        <div id="info-project">
            <div class="row">
                <div class="flex-container">
                    <div class="col-md-11">
                        <h2>Proyectos</h2>
                    </div>
                    <div class="col-md-1" style="margin-top: 30px; text-align: right;">
                        <a href="#" class="btn-right"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </div>
            </div>
            
            <div class="row" style="padding: 10px;">    
                <div class="flex-container">                  
                    <div class="col-md-10">
                        <h4 class="text-primary">Argentina Programa - #YoProgramo</h4>
                        <h6 class="text-secondary">Proyecto Integrador Portfolio Web Full Stack</h6>
                        <h6 class="text-secondary">Desarrollamos una aplicación web full stack, que muestra: datos personales, estudios cursados, experiencia laboral, conocimiento de las
                            tecnologías, ¡crear tu propio portfolio web!</h6>
                    </div>
                    <div class="col-md-2" style="margin-top: 30px; text-align: right;">
                        <a href="#" class="btn-right"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#" class="btn-right"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>                    
        
                </div>  
            </div>              
        </div>
    </div>
</div>
</div>
