<div class="card mat-card" id="third-card">
    <div id="info"> 
        <div id="info-experience">
            <div class="row">
                <div class="flex-container">
                    <div class="col-md-11">
                        <h2>Experiencia</h2>
                    </div>
                    <div class="col-md-1" style="margin-top: 30px; text-align: right;">
                        <a href="#" class="btn-right"><span><img src="./assets/plus.svg"></span></a>
                    </div>
                </div>
            </div>
            
            <div class="row" style="padding: 40px;">
                <ul class="items-list">
                    <li *ngFor="let experiencia of experienciaList">
                        <app-experiencia [experiencia]="experiencia"
                        (deleteExperiencia)="deleteListaExp(experiencia)"></app-experiencia>

                        <!--                         
                        <div class="flex-container">
                            <div class="col-md-1">                   
                                <a href={{experiencia.paginaweb}}> <img [src]="experiencia.logo"  width="50" /></a>
                            </div>                                             
                            <div class="col-md-10">
                                <h4>{{experiencia.titulo}}</h4>
                                <h6>{{experiencia.empresa}}</h6>
                                <p class="text-secondary">{{experiencia.tiempo}}</p>
                                <p class="text-secondary">{{experiencia.Lugar}}</p>
                            </div>
                            <div class="col-md-1" style="margin-top: 30px; text-align: right;">
                                <a href="#" class="btn-right"><span><img src="./assets/pencil.svg"></span></a>
                                <a href="#" class="btn-right" ><span><img src="./assets/trash.svg"></span></a>
                            </div> 
                        </div>
                        --> 
                    </li>
                </ul>
            </div>                                                         
        </div>
        <div id="info-education">
            <div class="row">   
                <div class="flex-container">              
                    <div class="col-md-11">
                        <h2>Educación</h2>
                    </div>
                    <div class="col-md-1" style="margin-top: 30px; text-align: right;">
                        <a href="#" class="btn-right"><span><img src="./assets/plus.svg"></span></a>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 40px;">
                <ul class="items-list">
                    <li *ngFor="let educacion of educacionList">  
                        <app-educacion [educacion]="educacion"
                        (deleteEducacion)="deleteListaEdu(educacion)"></app-educacion>

                        <!-- 
                        <div class="flex-container">
                            <div class="col-md-1"> 
                                <a href={{educacion.paginaweb}}> <img [src]="educacion.logo"  width="50" /></a>
                            </div>
                            <div class="col-md-10">                                       
                                <h4>{{educacion.universidad}}</h4>
                                <h6>{{educacion.titulo}}</h6>
                                <p class="text-secondary">{{educacion.tiempo}}</p>
                                <p class="text-secondary">{{educacion.sede}}</p>
                            </div>
                            <div class="col-md-1" style="margin-top: 30px; text-align: right;">
                                <a href="#" class="btn-right"><span><img src="./assets/pencil.svg"></span></a>
                                <a href="#" class="btn-right" (click)="onDeleteEdu(educacion)"><span><img src="./assets/trash.svg"></span></a>
                            </div> 
                        </div>    
                        -->                    
                    </li>
                </ul>                        
            </div>                       
        </div>
    </div>
</div> 
