<div class="row" class="card mat-card" id="third-card">
    <div id="info"> 
    <div id="info-education">
        <div class="row">   
            <div class="flex-container">              
                <div class="col-md-11">
                    <h2>Educación</h2>
                </div>
                <div class="col-md-1" style="margin-top: 0px; text-align: right;">
                   <img src="./assets/plus.svg"(click)="agregarItem(contenido2)">
                   <!--  <img src="./assets/pencil.svg"(click)="openPopPup(contenido)">    -->
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="items-list">
                <div *ngFor="let educacion of educacionList | orderBy: 'fechaInicio' : true">  
                    <div class="flex-container">
                        <div class="col-md-1"> 
                            <a href={{educacion.paginaWeb}}> <img [src]="educacion.logo"  class="img-fluid" /></a>
                        </div>
                        <div class="col-md-10">                                       
                            <h4>{{educacion.universidad}}</h4>
                            <h6>{{educacion.titulo}}</h6>
                            <p type="date" class="text-secondary">{{modificarFechas(educacion.fechaInicio) | date:'EEE d, MMM yyyy': undefined:'es' | titlecase }} - 
                                {{modificarFechas(educacion.fechaFin) | date:'EEE d, MMM yyyy': undefined:'es' | titlecase}}</p>
                            <p class="text-secondary"></p>
                        </div>
                        <div class="col-md-1" style="margin-top: 0px; text-align: right">
                          <!--   <a href="#" class="btn-right"><span><img src="./assets/pencil.svg"></span></a>
                            <a href="#" class="btn-right" ><span></span></a>-->
                            <img src="./assets/trash.svg" (click)="borrarItem(educacion)">
                            <img src="./assets/pencil.svg" (click)="openPopPup(educacion,contenido)">
                        </div> 
                    </div>    
                                       
                </div>
            </ul>                        
        </div>                       
    </div>   

    </div>
</div>

<form [formGroup]="form" class="m-5" >
    <ng-template #contenido let-modal>
     <!-- Modal -->
     <div class="modal-header">
        <button aria-hidden="true" (click)="modal.dismiss()">&times;</button>
       <h4 class="modal-title">Educacion</h4>
     </div>
     <div class="modal-body">
       <!--  <li *ngFor="let educacion of educacionList">-->
        <div class="form-group">
            <label for="formGroupExampleInput">Instituto</label>
            <input type="text" class="form-control" id="universidad" placeholder="" 
            value="{{educacion.universidad}}" formControlName="universidad">
        </div>
        
        <div class="form-group"> 
            <label for="formGroupExampleInput2">Titulo</label>
            <input type="text" class="form-control" id="titulo" placeholder="" 
            value="{{educacion.titulo}}" formControlName="titulo">
        </div>
        
        <div class="form-group">
            <label for="formGroupExampleInput3">Fecha Inicio</label>
            <input type="date" class="form-control" id="fechaInicio" placeholder="" 
            value="{{educacion.fechaInicio}}" formControlName="fechaInicio">
        </div>
        
        <div class="form-group">
            <label for="formGroupExampleInput4">Fecha Fin</label>
            <input type="date" class="form-control" id="fechaFin" placeholder="" 
            value="{{educacion.fechaFin}}" formControlName="fechaFin">
        </div>              
    
        <div class="form-group">
            <label for="formGroupExampleInput5">Link Logo</label>
            <input type="text" class="form-control" id="logo" placeholder="" 
            value="{{educacion.logo}}" formControlName="logo">
        </div> 

        <div class="form-group">
            <label for="formGroupExampleInput6">Pagina Web</label>
            <input type="text" class="form-control" id="paginaWeb" placeholder="" 
            value="{{educacion.paginaWeb}}" formControlName="paginaWeb">
        </div> 

        <!-- </li>-->
    </div>
     
    <div class="modal-footer">
       <button aria-hidden="true" (click)="modal.dismiss()">&times;</button>
       <button type="submit" aria-hidden="true" (click)="guardarCambios(educacion)">&check;</button>
     </div>
    
    </ng-template>
</form>

<form [formGroup]="form2" class="m-5">
    <ng-template #contenido2 let-modal2>
     <!-- Modal -->
     <div class="modal-header">
        <button aria-hidden="true" (click)="modal2.dismiss()">&times;</button>
       <h4 class="modal-title">Educacion</h4>
     </div>
     <div class="modal-body">
        <div class="form-group">
            <label for="formGroupExampleInput">Instituto</label>
            <input type="text" class="form-control" id="universidad" placeholder="" 
            value=" " formControlName="universidad">
        </div>
        
        <div class="form-group"> 
            <label for="formGroupExampleInput2">Titulo</label>
            <input type="text" class="form-control" id="titulo" placeholder="" 
            value=" " formControlName="titulo">
        </div>
        
        <div class="form-group">
            <label for="formGroupExampleInput3">Fecha Inicio</label>
            <input type="date" class="form-control" id="fechaInicio" placeholder="" 
            value=" " formControlName="fechaInicio">
        </div>
        
        <div class="form-group">
            <label for="formGroupExampleInput4">Fecha Fin</label>
            <input type="date" class="form-control" id="fechaFin" placeholder="" 
            value=" " formControlName="fechaFin">
        </div>              
    
        <div class="form-group">
            <label for="formGroupExampleInput4">Link Logo</label>
            <input type="text" class="form-control" id="logo" placeholder="" 
            value=" " formControlName="logo">
        </div> 

        <div class="form-group">
            <label for="formGroupExampleInput4">Pagina Web</label>
            <input type="text" class="form-control" id="paginaWeb" placeholder="" 
            value=" " formControlName="paginaWeb">
        </div> 
    </div>
     
    <div class="modal-footer">
       <button aria-hidden="true" (click)="modal2.dismiss()">&times;</button>
       <button type="button" aria-hidden="true"  (click)="agregarEducacion($event)">&check;</button>
     </div>
    
    </ng-template>
</form>