<div class="row" >
    <div class="flex-container">
        <div class="col-md-1">                   
            <a href={{experiencia.paginaweb}}> <img [src]="experiencia.logo"  width="50" /></a>
        </div>                                             
        <div class="col-md-10">
            <h4>{{experiencia.titulo}}</h4>
            <h6>{{experiencia.empresa}}</h6>
            <p class="text-secondary">{{experiencia.tiempo}}</p>
            <p class="text-secondary">{{experiencia.lugar}}</p>
        </div>
        <div class="col-md-1" style="margin-top: 30px; text-align: right;">
            <a href="#" class="btn-right"><span><img src="./assets/pencil.svg"></span></a>
            <a href="#" class="btn-right" (click)="onDeleteExp(experiencia)"><span><img src="./assets/trash.svg"></span></a>
        </div> 
    </div>
</div>
