/* You can add global styles to this file, and also import other style files */
.mat-card {
    border: 1px solid;
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border-color: #D3D3D3;
    -moz-user-select: none;
    user-select: none;
  }

  .mat-card#first-card {
    padding: 0px;
  }

  .mat-card#second-card {
    padding: 10px;
  }

  .mat-card#third-card {
    padding: 10px;
  }

  .mat-card#fourth-card {
    padding: 0px;
    display: flex;  
  }

  .mat-card#fifth-card {
    padding: 10px;
  }

  div#profile-background{
      display: flex;
  }

  div#profile-background img{
      width: 100%;
      border-radius: 32px 32px 0px 0px;
  }

  .profile-image{
      border-radius: 50%;
      width: 152px;
      height: 152px;
      margin-top: -100px;
      z-index: 1;
  }

  .header-image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  div#info-actions{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  text-align: left;
}

