<form 
    class="add-form" 
    (ngSubmit)="onSubmit()"
    *ngIf="showAddPersona"
    >
    <div class = "form-control">
        <label for="text">Nombre</label>
        <input 
            type="text" 
            name="text" 
            id="text" 
            [(ngModel)]="nombre" />
    </div>

    <div class = "form-control">
        <label for="text">Apellido</label>
        <input 
            type="text" 
            name="text" 
            id="text" 
            [(ngModel)]="apellido" />
    </div>

    <div class = "form-control">
        <label for="edad">Edad</label>
        <input 
            type="number" 
            name="edad" 
            id="edad" 
            [(ngModel)]="edad"/>
    </div>

    <input type="submit" value="Save" class="btn btn-primary" />
</form>
