<div class="card mat-card" id="fourth-card">
    <div id="info" style="padding: 10px;"> 
        <div id="info-project">
            <div class="row">
                <div class="flex-container">
                    <div class="col-md-11">
                        <h2>Hard Skills & Soft Skills</h2>
                    </div>
                    <div class="col-md-1" style="margin-top: 30px; text-align: right;">
                        <a href="#" class="btn-right"><span><img src="./assets/plus.svg"></span></a>
                    </div>
                </div>
            </div>
            
            <div class="row" style="padding: 10px;">  
                <div class="flex-container">
                    <ul class="list-group list-group-horizontal-md">
                        <li class="list-group-item" *ngFor="let aptitudes of aptitudesList" >                                              
                            <app-aptitud [aptitud]="aptitudes"
                            (deleteAptitud)="deleteListaApt(aptitudes)"></app-aptitud>   
                            <!--  
                            <circle-progress class="circle__progress"
                                [percent]="aptitudes.Porc"
                                [animation]="true"
                                [animationDuration]="300"
                                [startFromZero]="true"
                                [showInnerStroke]="true"
                                [titleFontSize]="'28'"
                                [titleFontWeight]="'900'"
                                [unitsFontSize]="'28'"
                                [unitsFontWeight]="'900'"
                                [subtitle]="aptitudes.Skill"
                                [subtitleFontSize]="'12'"
                                [lazy]="false"
                            ></circle-progress>  
                            <div>
                            <a href="#" class="btn-right"><span><img src="./assets/pencil.svg"></span></a>
                            <a href="#" class="btn-right"><span><img src="./assets/trash.svg"></span></a>
                            </div>  
                            -->                                                   
                        </li> 
                    </ul>   
                </div>                                
            </div>                       
        </div>
    </div>
</div>