<div class="card mat-card" id="second-card">
    <div id="info"> 
        <div id="info-acercade">
            <div class="row">           
                <div class="flex-container">
                    <div class="col-md-11">              
                        <h2>Acerca de</h2>               
                        <h6>{{miPortfolio.acercade}}</h6>
                    </div>
                    <div class="col-md-1" style="margin-top: 30px; text-align: right;">
                        <a href="#" class="btn-right"><span><img src="./assets/pencil.svg"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
