
<header>
    <section class="wrapper">
        <nav>    
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#Encabezado">Encabezado</a></li>
                <li><a href="#AcercaDe">Acerca de</a></li>
                <li><a href="#Experiencia">Experiencia</a></li>
                <li><a href="#Aptitudes">Aptitudes</a></li>
                <li><a href="#Logros">Logros</a></li>
    <!--html>   <li><a href="#Login">Login</a></li> </html--> 
            </ul>
        </nav>
    </section>
</header> 
    <section class="contenido">
    <p></p> 
    </section> 
<!--html>
    <section class="contenido">
    <p></p>  Aca puedo poner un texto debajo del menu 
    </section> 
<ul>
    <li role="menu"><a routerLink="/Home">Inicio</a></li>
    <li role="menu"><a routerLink="/Login">Login</a></li>
    <li role="menu"><a routerLink="/Encabezado">Encabezado</a> 
    <li role="menu"><a routerLink="/AcercaDe">Acerca de</a></li>
    <li role="menu"><a routerLink="/Aptitudes">Aptitudes</a></li>
    <li role="menu"><a routerLink="/Experiencia">Experiencia</a></li>
    <li role="menu"><a routerLink="/Logros">Logros</a></li>
</ul>
</html-->    

 







  

